In [1]:
# Import Libraries
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
# Read the dats
raw_data = pd.read_csv("E:\\Trainings\\Complete Data Science Bootcamp - Udemy\\Logistic Regression\\First Example\\2.01. Admittance.csv")

In [3]:
raw_data.head()

    SAT Admitted
0  1363       No
1  1792      Yes
2  1954      Yes
3  1653       No
4  1593       No

In [4]:
raw_data.shape

(168, 2)

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 2 columns):
SAT         168 non-null int64
Admitted    168 non-null object
dtypes: int64(1), object(1)
memory usage: 2.8+ KB

In [6]:
raw_data.describe()

               SAT
count   168.000000
mean   1695.273810
std     183.019017
min    1334.000000
25%    1547.500000
50%    1691.500000
75%    1844.500000
max    2050.000000

In [7]:
raw_data.head(10)

    SAT Admitted
0  1363       No
1  1792      Yes
2  1954      Yes
3  1653       No
4  1593       No
5  1755      Yes
6  1775      Yes
7  1887      Yes
8  1893      Yes
9  1580       No

In [8]:
# Transform Yes and No into 0 and 1
data = raw_data.copy()
data['Admitted'] = data['Admitted'].map({'Yes': 1, 'No': 0})
data.head(10)

    SAT  Admitted
0  1363         0
1  1792         1
2  1954         1
3  1653         0
4  1593         0
5  1755         1
6  1775         1
7  1887         1
8  1893         1
9  1580         0

In [9]:
y = data['Admitted']
x1 = data['SAT']

In [10]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y, x)
results_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.137766
         Iterations 10

C:\Users\SONY\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [11]:
# Get the regression summary
results_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      166
Method:                           MLE   Df Model:                            1
Date:                Mon, 13 Jan 2020   Pseudo R-squ.:                  0.7992
Time:                        15:22:12   Log-Likelihood:                -23.145
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 5.805e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -69.9128     15.737     -4.443      0.000    -100.756     -39.070
SAT            0.0420      0.009      4.454      0.000       0.024       0.060
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""